[Unit]
Description=Run video service
After=multi-user.target

[Service]
ExecStart=/home/__USER__/lawny-raspberry-pi-lawnmower/raspberry/mediamtx
WorkingDirectory=/home/__USER__/lawny-raspberry-pi-lawnmower/raspberry/
StandardOutput=file:/home/__USER__/lawny-raspberry-pi-lawnmower/raspberry/daemon_video_out.log
StandardError=file:/home/__USER__/lawny-raspberry-pi-lawnmower/raspberry/daemon_video_error.log
Restart=always
User=__USER__
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
